@import "~normalize.css";
@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~@blueprintjs/select/lib/css/blueprint-select.css";
/* @import "~@blueprintjs/icons/lib/css/blueprint-icons.css"; */


.App {
  margin: .85rem;
  padding: 1rem;
  /* border: 3px solid black; */
  border-radius: .25rem;
}

.App-title {
  text-align: center;
  font-family: 'Almarai', sans-serif;
  margin: 1rem;
}

/* Global Styles */
ul {
  list-style-type: none;
}

.Card {
  margin-top: 1rem;
}

.Btn-pair > button:nth-child(2) {
  margin-left: .5rem;
}

.Icon-m {
  margin: 0 .5rem;
  margin-bottom: 1px;
}

@media only screen and (min-width: 768px) {
  
  .App {
    margin: 0 auto;
    width: calc(768px - 1rem);
  }
  
}

@media only screen and (min-width: 992px) {
  
  .App {
    margin: 0 auto;
    width: calc(992px - .75rem);
  }
  
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
